@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
body {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	/* -webkit-tap-highlight-color: transparent; */
	text-decoration: none;
	color: inherit;
	overflow-x: hidden;
	/* overflow-y: hidden; */
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
body:focus {
	outline: 0;
}
.wrapper {
	/* background: url(../images/background5.svg); */
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	margin: 0;
	padding: 0;
	height: auto;
	font-family: 'Barlow', sans-serif;
	/* background: #14213d; */
}

.logo {
	position: fixed;
	z-index: 5;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	/* backdrop-filter: blur(5px); */
}
.logo img {
	width: 55%;
	height: 55%;
	transform: translateY(-1px);
	opacity: 0.8;
}

nav .menu {
	width: 100%;
	height: 80px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	box-sizing: border-box;
	z-index: 5;
	background-color: rgba(9, 15, 46, 0.85);
	/* backdrop-filter: blur(5px); */
}

nav .menu .website_name {
	/* color: #695681; */
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
	/* background: white; */
	padding: 4px 8px;
	border-radius: 2px;
	opacity: 0.5;
	transition: all 0.4s ease;
	cursor: pointer;
}
nav .menu .website_name:hover {
	opacity: 1;
}
nav .menu .menu_links {
	transition: all 0.4s ease;
	opacity: 0.8;
}
nav .menu .menu_links:hover {
	opacity: 1;
}

@media screen and (max-width: 950px) {
	.menu_links {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		align-items: center;
		font-size: 1.5rem;
		height: 100vh;
		transform: translateX(100%);
		position: fixed;
		top: 80px;
		background: rgb(13, 3, 23);
		opacity: 1;
	}
	nav .menu {
		opacity: 1;
	}
	a {
		text-align: center;
		width: 100%;
		margin-inline: auto;
	}
}
nav .menu .menu_links .link {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 30px;
	letter-spacing: 2px;
	position: relative;
	transition: all 0.3s 0.2s ease;
}
nav .menu .menu_links .link:last-child {
	margin-right: 0;
}
nav .menu .menu_links .link:before {
	content: '';
	position: absolute;
	width: 0px;
	height: 4px;
	background: linear-gradient(90deg, #ffedc0 0%, #ff9d87 100%);
	bottom: -10px;
	border-radius: 4px;
	transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
	left: 100%;
}
nav .menu .menu_links .link:hover {
	opacity: 1;
	color: #fb8a8a;
}
nav .menu .menu_links .link:hover:before {
	width: 40px;
	left: 0;
}
nav .menu .menu_icon {
	width: 40px;
	height: 40px;
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media screen and (max-width: 950px) {
	nav .menu .menu_icon {
		display: flex;
		opacity: 1;
	}
}
nav .menu .menu_icon .icon {
	width: 24px;
	height: 2px;
	background: white;
	position: absolute;
}
nav .menu .menu_icon .icon:before,
nav .menu .menu_icon .icon:after {
	content: '';
	width: 100%;
	height: 100%;
	background: inherit;
	position: absolute;
	transition: all 0.3s cubic-bezier(0.49, 0.04, 0, 1.55);
}
nav .menu .menu_icon .icon:before {
	transform: translateY(-8px);
}
nav .menu .menu_icon .icon:after {
	transform: translateY(8px);
}
nav .menu .menu_icon:hover .icon {
	background: #ffedc0;
}
nav .menu .menu_icon:hover .icon:before {
	transform: translateY(-10px);
}
nav .menu .menu_icon:hover .icon:after {
	transform: translateY(10px);
}

.wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	padding: 0 2rem;
	/* padding-top: 80px; */
	overflow-y: hidden;
	overflow-x: hidden;
}
.wrapper-timer {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;

	overflow-y: hidden;
	overflow-x: hidden;
}
.wrapper .container {
	margin: 0 2vw;
	transition: all 0.4s ease;
	gap: 3rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.version-logo {
	width: 450px;
}

.hackimg {
	z-index: 3;
	animation: text 0.6s 1.8s ease backwards;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	/* margin-top: 5vh; */
	flex-direction: column;
}
.hackimg img {
	width: 87%;
}

.wrapper .container .p404 .content {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: content 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}

@keyframes content {
	0% {
		width: 0;
	}
}

@media screen and (max-width: 799px) {
	.wrapper .container .p404 {
		width: 90%;
		height: 90%;
		top: 5% !important;
		left: 5% !important;
		min-width: 280px;
		min-height: 280px;
	}
}
@media screen and (max-height: 660px) {
	.wrapper .container .p404 {
		top: 20% !important;
		left: 20% !important;
	}
}
.wrapper .container .text {
	margin: 40px 0;
	margin-bottom: 0;
	animation: text 0.6s 1.8s ease backwards;
}
@keyframes text {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
}
@media screen and (max-width: 799px) {
	.wrapper .container .text {
		min-height: 400px;
		height: 80%;
	}
}
.wrapper .container .text article {
	/* width: 400px; */
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	bottom: 10vh;
	gap: 1rem;
}
@media screen and (max-width: 799px) {
	.wrapper .container .text article {
		width: 100%;
	}
}
.wrapper .container .text article p {
	color: white;
	font-size: 18px;
	letter-spacing: 0.6px;
	/* margin-bottom: 10px; */
	text-shadow: 6px 6px 10px #32243e;
}

.seekho-logo {
	width: 15vw;
	margin-bottom: 3rem;
}

.wrapper .container .text article button {
	height: 40px;
	padding: 0 30px;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 15px 20px rgba(54, 24, 79, 0.5);
	z-index: 3;
	color: #695681;
	background-color: white;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	transition: all 0.3s ease;
}

.social {
	display: flex;
	gap: 4px;
	/* flex-direction: column; */
}

.discord {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper .container .text article button:hover {
	box-shadow: 0px 10px 10px -10px rgba(54, 24, 79, 0.5);
	transform: translateY(5px);
	/* background:#fca311; */
	background-color: #fe1746;
	color: white;
}
.wrapper .container .p404 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 4px;
	color: hsl(0, 0%, 100%);
	display: flex !important;
	z-index: 2;
	animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
	animation-delay: 1.2s;
}
@media screen and (max-width: 799px) {
	.wrapper .container .p404 {
		font-size: 50px;
	}
}
@keyframes anime404 {
	0% {
		opacity: 0;
		transform: scale(10) skew(20deg, 20deg);
	}
}

canvas {
	display: block;
	/* vertical-align: bottom; */
}

/* ---- particles.js container ---- */
#particles-js {
	position: fixed;
	width: 100%;
	height: 100vh;
	/* background-color: #14213d; */
	/* background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(90, 92, 106, 1) 0%,
		rgba(32, 45, 58, 1) 81.3%
	); */
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgb(13 6 39) 0%,
		rgb(44 25 25) 81.3%
	);
	/* background-image: url(''); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 0;
}

/* ---- stats.js ---- */
.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13e8e9;
	font-size: 0.8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 0.8em;
}

.count-particles {
	border-radius: 0 0 2px 2px;
}

#vblogo {
	animation: logoanim;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes logoanim {
	from {
		transform: translateY(20px);
		transform: translateX(-10px);
	}
	to {
	}
}

/* About and Mascot section */

.about-container {
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 90vh;
	padding-top: 2rem;
	color: white;
	align-items: center;
	background-color: #fefefe00;
}

.about-heading {
	height: 10%;
	font-size: 3.5rem;
	margin-bottom: 3rem;
	letter-spacing: 9px;
	color: #fca311;
}

.about-content {
	display: flex;
	justify-content: space-around;
}

.about-left {
	background-image: url(../images/aboutImage.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
	height: 500px;
	overflow: hidden;
}

.about-right {
	opacity: 0.8;
	margin: 0 2rem;
	width: 40%;
	text-align: justify;
	line-height: 27.5px;
	font-size: 20px;
}
.mascot-container {
	display: flex;
	flex-direction: column;
	position: relative;
	color: white;
	padding: 2rem 10%;
	padding-bottom: 0;
	align-items: center;
	background-color: #ffffff00;
}

.mascot-heading {
	height: 10%;
	font-size: 3.5rem;
	margin-bottom: 3rem;
	letter-spacing: 9px;
	color: #fca311;
}

.mascot-content {
	display: flex;
	justify-content: space-around;
}

.mascot-left {
	width: 45%;
	text-align: justify;
	line-height: 27.5px;
	font-size: 20px;
	overflow: hidden;
}

.mascot-right {
	text-align: center;
	margin-top: 2rem;
	width: 50%;
	height: 500px;
}

@media screen and (max-width: 1100px) {
	.about-container {
		padding-top: 100px;
	}
	.about-content {
		flex-direction: column-reverse;
		align-items: center;
		gap: 2rem;
	}
	.about-left {
		width: 90%;
	}
	.about-right {
		width: 90%;
	}
	.mascot-container {
		padding-top: 100px;
	}
	.mascot-content {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.mascot-right {
		width: 90%;
	}
	.mascot-left {
		width: 90%;
	}
}
@media screen and (max-width: 800px) {
	.about-container {
		padding-top: 50px;
	}
	.about-left {
		width: 95%;
	}
	.about-right {
		width: 95%;
	}
	.about-heading {
		margin-bottom: 2rem;
	}
	.mascot-container {
		padding-top: 50px;
	}
	.mascot-right {
		width: 95%;
	}
	.img {
		width: 100%;
	}
	.mascot-left {
		width: 95%;
	}
	.mascot-heading {
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 500px) {
	.about-container {
		padding-top: 50px;
	}
	.about-left {
		width: 90%;
	}
	.about-right {
		width: 90%;
	}
	.about-heading {
		margin-bottom: 2rem;
	}
	.mascot-container {
		padding-top: 50px;
	}
	.mascot-right {
		width: 90%;
	}
	.mascot-left {
		width: 90%;
	}
	.mascot-heading {
		margin-bottom: 1rem;
	}
}
@media (max-width: 850px) {
	.wrapper {
		/* margin-top: 100px; */
		display: flex;
		flex-direction: column;
		height: auto;
		/* height: 100vh; */
	}

	.hackimg {
		display: none;
	}

	.version-logo {
		margin-top: 250px;
		overflow-y: hidden;
		margin-inline: auto;
		width: 100%;
		height: auto;
	}
}

@media (max-width: 500px) {
	.version-logo {
		margin-top: 150px;
	}
}
