*{
    margin: 0;
    padding: 0;
}
.container-schedule{
    background-color: #ffffff00;
    width: 100%;
    position: absolute;
    min-height: 100%;
    margin-top: 1rem;
}
.heading{
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FCA311;
}
.center-text{
    text-align: center;
}
ul{
    background: none;
}
a{
    background: none;
}
li{
    background: none;
    list-style: none;
}
.time-link{
    text-decoration: none;
    list-style: none;
    font-size: 1.2em;
    color: white;
}
.timeline-container{
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content{
    display: flex;
    color: white;
    font-size: 1.4em;
    margin: 1em;
}
.appear-anim{
    color: white;
    animation: appear;
    animation-duration: 2.5s;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.link-border{
    border:none;
    box-shadow: 10px 0px 40px 10px rgba(255, 239, 66, 0.749);
    background: rgba(29, 12, 183, 0.354);
}
.time-content{
    display: none;
}
h3{
    margin: 1em;
    font-size: 3em;
}