* {
	margin: 0;
	padding: 0;
}

.container-schedule {
	/* background-color: #14213d00; */
	width: auto;
	/* min-height: 100%; */
	margin-top: 5rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 5rem 10%;
	margin: auto;
}

.schedule-heading {
	font-size: 3em;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #fca311;
	margin-bottom: 2rem;
}

.center-text {
	text-align: center;
}

/* ul { */
	/* background: none; */
/* } */

/* a { */
	/* background: none; */
/* } */

li {
	/* background: none; */
	list-style: none;
}

.time-link {
	text-decoration: none;
	list-style: none;
	font-size: 1.2em;
	color: white;
	display: none;
	margin: auto;
}

.timeline-container {
	margin: 0 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.timeline-container li{
	overflow-x: unset;
}
.content {
	display: flex;
	color: white;
	font-size: 1.4em;
	
}

.content p,h4{
	opacity: 0.8;
}

.appear-anim {
	color: white;
	animation: appear;
	animation-duration: 2.5s;
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.link-border {
	/* background: none; */
	text-decoration: underline;
	color: rgb(4, 212, 156);
	font-size: 25px;
	display: block;
	animation: fontChange;
	animation-duration: 0.5s;
}

@keyframes fontChange {
	from{
		font-size: 1.2em;
	}
	to{
		font-size: 1.5em;
	}
	
}
.time-content {
	display: none;
}

h3 {
	margin-bottom: 0rem;
	min-height: 50px;
	overflow-y: hidden	;
	font-size: 3em;
}

h4 {
	font-size: 2em;
	margin-bottom: 1em;
}

.arrow {
	width: 50px;
	padding: 0.3em;
	margin-inline: 1.5rem;
}

.arrow:hover {
	width: 45px;
	cursor: pointer;
}

@media (min-width:822px){
	.arrow{
		display: none;
	}

	.time-link{
		display: block;
		margin-inline:auto ;
	}
	.time-link:hover{
		cursor: pointer;
		color: rgb(215, 215, 9);
	}
	@keyframes appearSlowly {
		from{
			opacity: 1;
		}
		to{
			opacity: 0;
		}
	}
	.link-border:hover{
		color:rgb(4, 212, 156);
	}
	.time-link{
		margin-inline: 1.5rem;
	}
	.timeline-container{
		justify-content: space-around;
	}
}
@media (max-width: 800px) {
	.timeline-container {
		margin: 0;
		padding: 0;
	}

	.container-schedule {
		width: 100%;
		margin: 0.1rem;
		margin-top: 3rem;
		padding: 1rem;
		height: 80vh;
	}

	h3 {
		font-size: 1.8rem;
		margin: 1rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	.schedule-heading {
		margin-bottom: 1rem;
		letter-spacing: 2px;
	}
	.link-border{
		font-size: 1.5em;
		width: 120px;
		display: block;
	}
	.arrow{
		width: 30px;
	}
}

@media screen and  (max-width: 800px)
{
	.time-link{
		text-align: center;
	}
	.content{
		text-align: justify;
		padding: 0 5%;
	}
	.appear-anim h3{
		text-align: center;
		margin: 1rem 0;
	}
}
	
